.DS_Store
*.asv

resources/*
resources/project/*.xml

models/*.log
models/+*/
/models/Model1_level/
/models/Model1_log/
/models/Model2_level/
/models/Model2_log/
/models/Model3_level/
/models/Model3_log/
/models/Model4_Level/
/models/Model4_Log/
