models/*.log
*.asv
resources/*
.DS_Store
resources/project/*.xml

models/+*/
models/Base1_Level/
models/Base2_level/
models/GeneralHomeProduction_Level/
models/MinimalHomeProduction_Level/
/models/Base1_Log/graphs/Base1_Log_IRF_eh1.eps
/models/Base1_Log/graphs/Base1_Log_IRF_eh2.eps
/models/Base1_Log/graphs/Base1_Log_IRF_em1.eps
/models/Base1_Log/graphs/Base1_Log_IRF_em2.eps
/models/Base1_Log/latex/Base1_Log_latex_definitions.tex
/models/Base1_Log/latex/Base1_Log_latex_parameters.tex
/models/Base1_Log/latex/dynamic.aux
/models/Base1_Log/latex/dynamic.log
/models/Base1_Log/latex/dynamic.tex
/models/Base1_Log/latex/dynamic_content.aux
/models/Base1_Log/latex/dynamic_content.tex
/models/Base1_Log/latex/texput.aux
/models/Base1_Log/latex/texput.log
/models/Base1_Log/Output/Base1_Log_results.mat
/models/Base1_Log/checksum
