.main{
  margin-top: 80px;
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.output {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 10px;
  padding-left: 10px;
}

code {
  white-space: pre;
  font-size: 10px !important;
  color: black !important;
  line-height: 0.01em !important;
}

.navbar-brand {
  font-weight: bold;
  margin: auto !important;
}

.text-content {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

.irf-image {
  max-width: 500px;
  width:100%;
}

@import "bootstrap/bootstrap";